<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="rc_autoracer">
  <xacro:property name="vehicle_length" value="0.83"/>
  <xacro:property name="vehicle_width" value="0.58"/>
  <xacro:property name="vehicle_height" value="0.50"/>
  <xacro:property name="wheel_radius" value="0.115"/>

  <link name="base_link">
    <visual>
      <origin xyz="0.415 0 0.135" rpy="0 0 0"/>
      <geometry>
        <box size="${vehicle_length} ${vehicle_width} ${vehicle_height}"/>
      </geometry>
      <material name="rc_body">
        <color rgba="0.10 0.22 0.85 0.35"/>
      </material>
    </visual>
  </link>

  <link name="lidar_top"/>
  <link name="imu_link"/>
</robot>
